# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs
.idea
.vscode

# For cmake
build
build-static
build-dynamic
build-static-debug
build-dynamic-debug
cmake-build-*

# For Macs..
.DS_Store

# Documentation
**/docs/html/
**/docs/latex/

# Release Process
release_artifacts
