name: libs/client-sdk

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  build-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-client
  build-test-mac:
    runs-on: macos-12
    steps:
      - run: |
          echo "OPENSSL_ROOT_DIR=$(brew --prefix openssl@1.1)" >> "$GITHUB_ENV"
          # For debugging
          echo "OPENSSL_ROOT_DIR=$(brew --prefix openssl@1.1)"
      - uses: actions/checkout@v3
      - uses: ./.github/actions/ci
        env:
          OPENSSL_ROOT_DIR: ${{ env.OPENSSL_ROOT_DIR }}
        with:
          cmake_target: launchdarkly-cpp-client
          platform_version: 12
  build-test-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/ci
        env:
          OPENSSL_ROOT_DIR: ${{ env.OPENSSL_ROOT_DIR }}
        with:
          cmake_target: launchdarkly-cpp-client
          platform_version: 2022
          toolset: msvc
