name: libs/client-sdk

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md' # Do not need to run CI for markdown changes.
  pull_request:
    branches: [ "main", "feat/**" ]
    paths-ignore:
      - '**.md'
  schedule:
    # Run daily at midnight PST
    - cron: '0 8 * * *'

jobs:
  contract-tests:

    runs-on: ubuntu-22.04
    env:
      # Port the test service (implemented in this repo) should bind to.
      TEST_SERVICE_PORT: 8123
      TEST_SERVICE_BINARY: ./build/contract-tests/client-contract-tests/client-tests
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci
        with:
          cmake_target: client-tests
          run_tests: false
      - name: 'Launch test service as background task'
        run: $TEST_SERVICE_BINARY $TEST_SERVICE_PORT 2>&1 &
      - uses: launchdarkly/gh-actions/actions/contract-tests@contract-tests-v1.0.2
        with:
          # Inform the test harness of test service's port.
          test_service_port: ${{ env.TEST_SERVICE_PORT }}
          token: ${{ secrets.GITHUB_TOKEN }}
          version: 'cw/sc-239174/tls'
  build-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-client
          simulate_release: true
  build-test-client-mac:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-client
          platform_version: 12
          simulate_release: true
  build-test-client-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: ./.github/actions/ci
        env:
          BOOST_LIBRARY_DIR: 'C:\local\boost_1_81_0\lib64-msvc-14.3'
          BOOST_LIBRARYDIR: 'C:\local\boost_1_81_0\lib64-msvc-14.3'
        with:
          cmake_target: launchdarkly-cpp-client
          platform_version: 2022
          toolset: msvc
          simulate_windows_release: true
