name: libs/common

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [ main, server-side ]
    paths-ignore:
      - '**.md'

jobs:
  build-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-common
