on:
  workflow_dispatch:
    inputs:
      workspace_path:
        description: 'The workspace to publish docs for'
        required: true
        default: 'libs/client-sdk'
        type: choice
        options:
          - libs/client-sdk
          - libs/server-sdk
          - libs/server-sdk-redis-source
name: Publish Documentation
jobs:
  build-publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install doxygen graphviz
      - id: build
        # Build using the same steps from CI.
        name: Build
        run: |
          cd $WORKSPACE_PATH
          doxygen ./Doxyfile
        env:
          WORKSPACE_PATH: ${{ inputs.workspace_path }}
      - id: publish
        name: Publish Documentation
        uses: ./.github/actions/publish-docs
        with:
          workspace_path: ${{ inputs.workspace_path }}
          token: ${{secrets.GITHUB_TOKEN}}
