name: libs/networking

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [ main, "feat/**" ]
    paths-ignore:
      - '**.md'

jobs:
  build-test-networking:
    runs-on: ubuntu-22.04
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-networking
          use_curl: 'true'
          # Project doesn't have tests at this time.
          run_tests: 'false'
