name: libs/server-sdk

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md' # Do not need to run CI for markdown changes.
  pull_request:
    branches: [ "main", "feat/**" ]
    paths-ignore:
      - '**.md'
  schedule:
    # Run daily at midnight PST
    - cron: '0 8 * * *'

jobs:
  contract-tests:
    runs-on: ubuntu-22.04
    env:
      # Port the test service (implemented in this repo) should bind to.
      TEST_SERVICE_PORT: 8123
      TEST_SERVICE_BINARY: ./build/contract-tests/server-contract-tests/server-tests
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: server-tests
          run_tests: false
      - name: 'Launch test service as background task'
        run: $TEST_SERVICE_BINARY $TEST_SERVICE_PORT 2>&1 &
      # https://github.com/launchdarkly/gh-actions/releases/tag/contract-tests-v1.1.0
      - uses: launchdarkly/gh-actions/actions/contract-tests@2715574e04448246bc529a23a81766491bbc4aae
        with:
          # Inform the test harness of test service's port.
          test_service_port: ${{ env.TEST_SERVICE_PORT }}
          extra_params: '-skip-from ./contract-tests/server-contract-tests/test-suppressions.txt'
          token: ${{ secrets.GITHUB_TOKEN }}

  contract-tests-curl:
    runs-on: ubuntu-22.04
    env:
      # Port the test service (implemented in this repo) should bind to.
      TEST_SERVICE_PORT: 8123
      TEST_SERVICE_BINARY: ./build/contract-tests/server-contract-tests/server-tests
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: server-tests
          run_tests: false
          use_curl: true
      - name: 'Launch test service as background task'
        run: $TEST_SERVICE_BINARY $TEST_SERVICE_PORT 2>&1 &
      # https://github.com/launchdarkly/gh-actions/releases/tag/contract-tests-v1.1.0
      - uses: launchdarkly/gh-actions/actions/contract-tests@2715574e04448246bc529a23a81766491bbc4aae
        with:
          # Inform the test harness of test service's port.
          test_service_port: ${{ env.TEST_SERVICE_PORT }}
          extra_params: '-skip-from ./contract-tests/server-contract-tests/test-suppressions.txt'
          token: ${{ secrets.GITHUB_TOKEN }}

  build-test-server:
    runs-on: ubuntu-22.04
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-server
          simulate_release: true

  build-test-server-curl:
    runs-on: ubuntu-22.04
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-server
          use_curl: true
          simulate_release: true

  build-test-server-mac:
    runs-on: macos-13
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-server
          platform_version: 12
          simulate_release: true

  build-test-server-mac-curl:
    runs-on: macos-13
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-server
          platform_version: 12
          use_curl: true
          simulate_release: true

  build-test-server-windows:
    runs-on: windows-2022
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      # https://github.com/ilammy/msvc-dev-cmd/releases/tag/v1.13.0
      - uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-server
          platform_version: 2022
          toolset: msvc
          simulate_windows_release: true

  build-test-server-windows-curl:
    runs-on: windows-2022
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      # https://github.com/ilammy/msvc-dev-cmd/releases/tag/v1.13.0
      - uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-server
          platform_version: 2022
          toolset: msvc
          use_curl: true
          simulate_windows_release: true
