name: libs/server-sdk-redis-source

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md' # Do not need to run CI for markdown changes.
  pull_request:
    branches: [ "main", "feat/**" ]
    paths-ignore:
      - '**.md'
  schedule:
    # Run daily at midnight PST
    - cron: '0 8 * * *'

jobs:
  build-test-redis:
    runs-on: ubuntu-22.04
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-server-redis-source
          simulate_release: true
  build-redis-mac:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-cpp-server-redis-source
          platform_version: 12
          run_tests: false # TODO: figure out how to run Redis service on Mac
          simulate_release: true
  build-test-redis-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: ./.github/actions/ci
        env:
          BOOST_LIBRARY_DIR: 'C:\local\boost_1_81_0\lib64-msvc-14.3'
          BOOST_LIBRARYDIR: 'C:\local\boost_1_81_0\lib64-msvc-14.3'
          Boost_DIR: 'C:\local\boost_1_87_0\lib64-msvc-14.3\cmake\Boost-1.87.0'
        with:
          cmake_target: launchdarkly-cpp-server-redis-source
          platform_version: 2022
          toolset: msvc
          run_tests: false # TODO: figure out how to run Redis service on Windows
          simulate_windows_release: true
