name: libs/server-sent-events

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  build-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-sse-client
  contract-tests:
    needs: build-test
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/ci
        with:
          cmake_target: sse-tests
      - uses: ./.github/workflows/sse-contract-tests.yml
        with:
          test-service-port: 8123
