name: libs/server-sent-events

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  build-test-sse:
    runs-on: ubuntu-22.04
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-sse-client

  build-test-sse-curl:
    runs-on: ubuntu-22.04
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-sse-client
          use_curl: true

  contract-tests:
    runs-on: ubuntu-22.04
    env:
      # Port the test service (implemented in this repo) should bind to.
      TEST_SERVICE_PORT: 8123
      TEST_SERVICE_BINARY: ./build/contract-tests/sse-contract-tests/sse-tests
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: sse-tests
          run_tests: false
      - name: 'Launch test service as background task'
        run: $TEST_SERVICE_BINARY $TEST_SERVICE_PORT 2>&1 &
      # https://github.com/launchdarkly/gh-actions/releases/tag/contract-tests-v1.1.0
      - uses: launchdarkly/gh-actions/actions/contract-tests@2715574e04448246bc529a23a81766491bbc4aae
        with:
          repo: 'sse-contract-tests'
          branch: 'main'
          test_service_port: ${{ env.TEST_SERVICE_PORT }}
          token: ${{ secrets.GITHUB_TOKEN }}

  contract-tests-curl:
    runs-on: ubuntu-22.04
    env:
      # Port the test service (implemented in this repo) should bind to.
      TEST_SERVICE_PORT: 8123
      TEST_SERVICE_BINARY: ./build/contract-tests/sse-contract-tests/sse-tests
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.3.0
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: ./.github/actions/ci
        with:
          cmake_target: sse-tests
          run_tests: false
          use_curl: true
      - name: 'Launch test service as background task'
        run: $TEST_SERVICE_BINARY $TEST_SERVICE_PORT 2>&1 &
      # https://github.com/launchdarkly/gh-actions/releases/tag/contract-tests-v1.1.0
      - uses: launchdarkly/gh-actions/actions/contract-tests@2715574e04448246bc529a23a81766491bbc4aae
        with:
          repo: 'sse-contract-tests'
          branch: 'main'
          test_service_port: ${{ env.TEST_SERVICE_PORT }}
          token: ${{ secrets.GITHUB_TOKEN }}
