name: libs/server-sent-events

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  build-test-sse:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci
        with:
          cmake_target: launchdarkly-sse-client
  contract-tests:
    runs-on: ubuntu-24.04
    env:
      # Port the test service (implemented in this repo) should bind to.
      TEST_SERVICE_PORT: 8123
      TEST_SERVICE_BINARY: ./build/contract-tests/sse-contract-tests/sse-tests
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci
        with:
          cmake_target: sse-tests
          run_tests: false
      - name: 'Launch test service as background task'
        run: $TEST_SERVICE_BINARY $TEST_SERVICE_PORT 2>&1 &
      - uses: launchdarkly/gh-actions/actions/contract-tests@contract-tests-v1.1.0
        with:
          repo: 'sse-contract-tests'
          branch: 'main'
          test_service_port: ${{ env.TEST_SERVICE_PORT }}
          token: ${{ secrets.GITHUB_TOKEN }}
